@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
/****************************GENERAL************************************/

h2{
    width: 95%;
}
h3{
    text-align: center;
}
p{
    font-size: 25px;
}
*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    color: #5C6B7E;
}

.up{
    padding-top: 4.5%;
}
.name{
    font-size: xx-large;
}
.nav-center,
.center{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

a{

    color: #191919;
    text-decoration: none;
}
ul{
    list-style: none;
}

/****************************NAV BAR************************************/
.toggleBox {
    /*position: fixed;*/
    top: 0;
    z-index: 100;
    padding: 15px;
    cursor: pointer;
}
.toggleBox--right {
    right: 0;
}
.toggleBox--left {
    left: 0;
}

.mainNavigationToggle {
    z-index: 1000;
    position: relative;
    width: 36px;
    height: 20px;
    background-color: transparent;
    border: 0;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
    outline: 0;
}
.mainNavigationToggle:before, .mainNavigationToggle:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 2px solid #555;
    bottom: 6.66667px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.mainNavigationToggle[class*="is-"] {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.mainNavigationToggle[class*="is-"]:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mainNavigationToggle[class*="is-"]:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mainNavigationToggle.is-active {
    border-color: transparent;
}
.mainNavigationToggle span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.mainNavigation {
    position: fixed;
    width: 280px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    background-color: white;
}
.mainNavigation li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}
.mainNavigation li a:hover {
    text-decoration: none;
    background-color: #f2f2f2;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.mainNavigation.is-active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    z-index: 50;
}
.mainNavigation--left {
    top: 0;
    left: -280px;
    padding: 54px 4px 0 4px;
}
.mainNavigation--left.is-active {
    left: 0;
}
.mainNavigation--right {
    top: 0;
    right: -280px;
    padding: 54px 4px 0 4px;
}
.mainNavigation--right.is-active {
    right: 0;
}
.mainNavigation--top {
    top: -280px;
    left: 0;
    width: auto;
    padding-top: 54px;
    text-align: center;
}
.mainNavigation--top.is-active {
    top: 0;
}
.mainNavigation--bottom {
    bottom: -280px;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 54px;
    text-align: center;
}
.mainNavigation--bottom.is-active {
    bottom: 0;
}


nav{
    float: right;
}

.dad{
    list-style: none;
}
.name{
    font-size: 36px;
    padding-left: 5%;
}


/*********NAV BAR END**********/




/*HOME SECTION*/
.small-11{
    margin-top: 7%;
    font-size: 75px;
    text-align: center;
    width: 50%;
}

span{
    color: #e59558;
}


.button.large {
    margin-bottom: 3%;
    margin-left: 39%;
    background: #e59558;
    margin-top: 3%;
    width: 20%;
    border-radius: 4%;
    -webkit-box-shadow: 0px 1px 22px 0px rgba(128,123,128,1);
    -moz-box-shadow: 0px 1px 22px 0px rgba(128,123,128,1);
    box-shadow: 0px 1px 22px 0px rgba(128,123,128,1);
}



/*ARROW BOUNCE*/
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
.arrows {
    width: 60px;
    height: 72px;
    position: relative;
    left: 45%;
}

.arrows path {
    stroke: #000;
    fill: transparent;
    stroke-width: 1.5px;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/*ARROW BOUNCE*/

/*END OF HOME SECTION*/





/*ABOUT SECTION*/
.about{
    text-align: center;
    width: 100%;
}

.small-3 {
    width: 50%;
}
/*END OF ABOUT SECTION*/





/*SERVICES SECTION*/

.profile-card {
    padding: 1rem;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    margin: 2rem 0;
    background-color: #fff;
    opacity:0.8;
}
.profile-card:hover {
    opacity:1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /*-webkit-transform: scale(1);*/
    /*-ms-transform: scale(1);*/
    /*transform: scale(1);*/
}


.profile-card img {
    display: block;
    margin: 2rem auto;
    text-align: center;
}

.profile-card .profile-info {
    padding: 1rem;
}

.profile-card .profile-info h4 {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}

.profile-card .profile-info p {
    text-align: center;
}

.profile-card .profile-info .inline-list {
    text-align: center;
    margin-bottom: 1rem;
}

.profile-card .profile-info .inline-list li {
    float: none;
    display: inline-block;
}

.profile-card .profile-info .inline-list i.fi-social-facebook {
    font-size: 1.5rem;
    color: #3b5998;
}

.profile-card .profile-info .inline-list i.fi-social-facebook:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out;
}

.profile-card .profile-info .inline-list i.fi-social-twitter {
    font-size: 1.5rem;
    color: #55acee;
}

.profile-card .profile-info .inline-list i.fi-social-twitter:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out;
}

.profile-card .profile-info .inline-list i.fi-social-linkedin {
    font-size: 1.5rem;
    color: #0077b5;
}

.profile-card .profile-info .inline-list i.fi-social-linkedin:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out;
}

.profile-card .profile-info .inline-list i.fi-social-github {
    font-size: 1.5rem;
    color: #333;
}

.profile-card .profile-info .inline-list i.fi-social-github:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out;
}

.profile-card .profile-info .inline-list i.fi-social-youtube {
    font-size: 1.5rem;
    color: #cc181e;
}

.profile-card .profile-info .inline-list i.fi-social-youtube:hover {
    transform: scale(1.5);
    transition: all .5s ease-in-out;
}

/*END OF SERVICE SECTION*/


/*PARTS*/
.product, .location{
    margin-bottom: 10%;
    margin-top: 14%;
}
.team{
    margin-bottom: 15%;
    margin-top: 14%;
}
/*END OF PARTS*/

/*TESTIMONIALS*/

.testimonials{
    background-color: #F9F9F9;
    text-align: center;
}
h3{
    padding-top: 10%;
}

.nyt{
    padding-top: 14%;
}

.lat{
    padding-top: 8%;
}

.cnb{
    padding-top: 5%;
}

/*END OF TESTIMONIALS*/

/****************************MEDIA QUERIES************************************/

@media only screen and (max-width: 320px){
    .button.large{
        width: 55%;
        margin-left: 25%;
        margin-bottom: 5%;
    }
    .small-11 {
        margin-top: 20%;
        font-size: 39px;
        text-align: center;
        width: 90%;
    }

    .arrows {
        width: 60px;
        height: 72px;
        position: absolute;
        left: 45%;
    }

    .columns{
        width: 50%;
    }

    .up{
        padding-top: 10%;
    }

}

/*********MEDIA QUERY END**********/
